.card {
  --bs-card-spacer-y: 1.25rem;
  --bs-card-spacer-x: 1.25rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: var(--tw-gray-900);
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: transparent;
  --bs-card-border-radius: 0.4rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0.4rem;
  --bs-card-cap-padding-y: 1.25rem;
  --bs-card-cap-padding-x: 1.25rem;
  --bs-card-cap-bg: #fff;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: #000;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1.25rem;
  --bs-card-group-margin: 0.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: #000000;
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.list-group {
  --bs-list-group-color: var(--bs-gray-600);
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: 0.313rem;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-gray-700);
  --bs-list-group-action-hover-bg: rgba(var(--bs-primary-rgb), 0.1);
  --bs-list-group-action-active-color: var(--bs-gray-700);
  --bs-list-group-action-active-bg: rgba(var(--bs-primary-rgb), 0.1);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #09B850;
  --bs-list-group-active-border-color: #09B850;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}

.list-group-item-action {
  width: 100%;
  color: var(--bs-list-group-action-color);
  text-align: inherit;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 1;
  color: var(--bs-list-group-action-hover-color);
  text-decoration: none;
  background-color: var(--bs-list-group-action-hover-bg);
}

.list-group-item-action:active {
  color: var(--bs-list-group-action-active-color);
  background-color: var(--bs-list-group-action-active-bg);
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: var(--bs-list-group-disabled-color);
  pointer-events: none;
  background-color: var(--bs-list-group-disabled-bg);
}

.list-group-item.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--bs-list-group-active-bg);
  border-color: var(--bs-list-group-active-border-color);
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item + .list-group-item.active {
  margin-top: calc(-1 * var(--bs-list-group-border-width));
  border-top-width: var(--bs-list-group-border-width);
}

.list-group-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.list-group-horizontal > .list-group-item:first-child:not(:last-child) {
  border-bottom-left-radius: var(--bs-list-group-border-radius);
  border-top-right-radius: 0;
}

.list-group-horizontal > .list-group-item:last-child:not(:first-child) {
  border-top-right-radius: var(--bs-list-group-border-radius);
  border-bottom-left-radius: 0;
}

.list-group-horizontal > .list-group-item.active {
  margin-top: 0;
}

.list-group-horizontal > .list-group-item + .list-group-item {
  border-top-width: var(--bs-list-group-border-width);
  border-left-width: 0;
}

.list-group-horizontal > .list-group-item + .list-group-item.active {
  margin-left: calc(-1 * var(--bs-list-group-border-width));
  border-left-width: var(--bs-list-group-border-width);
}

@media (min-width: 576px) {
  .list-group-horizontal-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list-group-horizontal-sm > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
  }

  .list-group-horizontal-sm > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-sm > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-sm > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    border-left-width: 0;
  }

  .list-group-horizontal-sm > .list-group-item + .list-group-item.active {
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 768px) {
  .list-group-horizontal-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list-group-horizontal-md > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
  }

  .list-group-horizontal-md > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-md > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-md > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    border-left-width: 0;
  }

  .list-group-horizontal-md > .list-group-item + .list-group-item.active {
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 992px) {
  .list-group-horizontal-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list-group-horizontal-lg > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
  }

  .list-group-horizontal-lg > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-lg > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-lg > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    border-left-width: 0;
  }

  .list-group-horizontal-lg > .list-group-item + .list-group-item.active {
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 1200px) {
  .list-group-horizontal-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list-group-horizontal-xl > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
  }

  .list-group-horizontal-xl > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-xl > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-xl > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    border-left-width: 0;
  }

  .list-group-horizontal-xl > .list-group-item + .list-group-item.active {
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: var(--bs-list-group-border-width);
  }
}

@media (min-width: 1400px) {
  .list-group-horizontal-xxl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list-group-horizontal-xxl > .list-group-item:first-child:not(:last-child) {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-right-radius: 0;
  }

  .list-group-horizontal-xxl > .list-group-item:last-child:not(:first-child) {
    border-top-right-radius: var(--bs-list-group-border-radius);
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-xxl > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-xxl > .list-group-item + .list-group-item {
    border-top-width: var(--bs-list-group-border-width);
    border-left-width: 0;
  }

  .list-group-horizontal-xxl > .list-group-item + .list-group-item.active {
    margin-left: calc(-1 * var(--bs-list-group-border-width));
    border-left-width: var(--bs-list-group-border-width);
  }
}

.list-group-flush {
  border-radius: 0;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}


.tab-content {
  .container {
    padding: 0;
    width: 100%;
    position: relative;
    font-size: 0;
    box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .tab-control {
      position: relative;
    }

    input {
      display: none;

      &:checked + label {
        background: #eee;
      }

      @for $i from 1 through 4 {
        &#tab#{$i}:checked {
          ~ .line {
            left: #{($i - 1) * 25%};
          }

          ~ .content-container #c#{$i} {
            opacity: 1;
          }
        }
      }
    }

    label {
      display: inline-block;
      font-size: 16px;
      line-height: 36px;
      width: 25%;
      text-align: center;
      background: #f4f4f4;
      color: #555;
      position: relative;
      white-space: nowrap;
      transition: 0.25s background ease;
      cursor: pointer;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        display: block;
        background: #ccc;
        bottom: 0;
        opacity: 0;
        left: 0;
        transition: 0.25s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    .line {
      position: absolute;
      height: 2px;
      background: #1E88E5;
      width: 25%;
      bottom: 0;
      left: 0;
      transition: 0.25s ease;
    }

    .content-container {
      background: #eee;
      position: relative;
      flex: 1;
      font-size: 16px;

      .content {
        position: absolute;
        padding: 10px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 1rem;
        height: 100%;
        opacity: 0;
        transition: 0.25s ease;
        color: #333;

        &.show {
          opacity: 1;
        }
      }
    }
  }
}


.smv-uploader--wrapper {


  .smv-uploader--root {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    padding: 0;
  }

  input {
    display: none;
  }

  .smv-uploader--drop-label {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    flex: 1;
    padding: 0;
  }

  .smv-uploader--drop-label label {
    display: flex;
    min-height: 160px;
    padding: 1rem;
    border-radius: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .smv-uploader--data {
    transform-style: preserve-3d;
    transition: .3s ease-in-out;
    transform: translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    position: relative;

    &.show {
      transform: translate3d(0px, 0px, -250px);
    }
  }

  .smv-uploader-progress {
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    border-radius: inherit;
    gap: .3rem;
    position: relative;
  }

  .filepond--file-poster-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 5rem;
    max-height: 7rem;
    margin: 0;
    opacity: 0;
    z-index: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    aspect-ratio: auto;
  }

  .smv-uploader-media-cont {
    //position: absolute;
    width: 100%;
    height: 0;
    transition: .8s ease-out;
    max-width: 100%;
    overflow: hidden;
    background: #171717;
    border-radius: inherit;

    .smv-uploader-media {
      position: relative;
      isolation: isolate;
      background-size: cover;
      background-position: center;
      border-radius: .5rem;

      &::before {
        position: absolute;
        z-index: -1;
        background: transparent;
        content: "";
        inset: 0;
        backdrop-filter: blur(10px) grayscale(.5);
        border-radius: inherit;
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 200px;
        transition-duration: .8s;
        object-fit: contain;
        object-position: center;
        border-radius: inherit;
        transition-delay: .1s;
        transition-timing-function: cubic-bezier(0.5, 0.25, 0, 1);
      }
    }
  }

  .smv-uploader-control {
    display: flex;
    color: #fff;
    width: 100%;
    border-radius: inherit;
    gap: .3rem;
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
  }

  .smv-uploader-control .control-close {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid transparent;
    width: 2rem;
    cursor: pointer;
    height: 2rem;
    background: rgba(0, 0, 0, 0.7);
    transition: .25s ease-in-out;
  }

  .smv-uploader-control .control-close:hover {
    border-color: var(--color-primary);
  }

  .smv-upload--file:not(.loaded) .smv-uploader-control,
  .smv-upload--file:not(.loaded) .smv-uploader-media {
    display: none;
  }

  .smv-upload--file {
    background: rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
  }


  .smv-upload--file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  .smv-upload--file-size {
    font-size: .85rem;
  }

  .smv-uploader--root.dragover {
    background: rgba(0, 123, 255, 0.1);
  }
}

img {
  .fluid {
    max-width: 100%;
  }


  .cover-center {
    object-position: center !important;
    object-fit: cover !important;

  }

  .fit-center {
    object-position: center !important;
    object-fit: contain !important;
  }
}

.thumbnail {
  //vertical-align: middle;
  max-width: 100%;
  object-position: center;
  object-fit: cover;
  height: auto;
  max-height: 100%;
}

.smv-loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #1E88E5;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &.sm {
    width: 24px;
    height: 24px;
    border-width: 2px;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

$chat-bg: #0b141a;
.chat-container {
  isolation: isolate;

  .chat-bg {
    z-index: -1;
    inset: 0;
    background-color: $chat-bg;

    img {
      height: 100%;
      width: 100%;
      opacity: 0.2;
    }
  }
}

.imessage {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0 1rem;

  .msg {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 90%;
    padding: .3rem;
    position: relative;
    word-wrap: break-word;

    &::before,
    &::after {
      bottom: -0.1rem;
      content: "";
      height: 1rem;
      position: absolute;
    }

    &.from-me {
      align-self: flex-end;
      background-color: #eeffde;
      color: #000;

      &::before {
        border-bottom-left-radius: 0.8rem 0.7rem;
        border-right: 1rem solid #eeffde;
        right: -0.35rem;
        transform: translate(0, -0.1rem);
      }

      &::after {
        background-color: $chat-bg;
        border-bottom-left-radius: 0.5rem;
        right: -40px;
        transform: translate(-30px, -2px);
        width: 10px;
      }

      & ~ .from-me {
        margin: 0.25rem 0 0;

        &:not(:last-child) {
          margin: 0.25rem 0 0;
        }

        &:last-child {
          margin-bottom: 0.5rem;
        }
      }
    }

    &.from-them {
      align-items: flex-start;
      background-color: #2d3b43;
      color: #ffffff;

      &::before {
        border-bottom-right-radius: 0.8rem 0.7rem;
        border-left: 1rem solid #2d3b43;
        left: -0.35rem;
        transform: translate(0, -0.1rem);
      }

      &::after {
        background-color: $chat-bg;
        border-bottom-right-radius: 0.5rem;
        left: 20px;
        transform: translate(-30px, -2px);
        width: 10px;
      }
    }

    &[class^="from-"] {
      margin: 0.5rem 0;
      width: fit-content;

      &.emoji {
        background: none;
        font-size: 2.5rem;

        &::before {
          content: none;
        }
      }
    }
  }

  .no-tail::before {
    display: none;
  }

  .margin-b_none {
    margin-bottom: 0 !important;
  }

  .margin-b_one {
    margin-bottom: 1rem !important;
  }

  .margin-t_one {
    margin-top: 1rem !important;
  }
}

.media-list {
  .media-list-item {
    border-radius: 0; // default
    overflow: hidden;

    img {
      border-radius: inherit;
    }
  }

  // One item only
  &.grid-cols-1 {
    .item-0 {
      border-radius: 0.75rem;
    }
  }

  // Two items
  &.grid-cols-2:not(.grid-odd) {
    .item-0 {
      border-top-left-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem;
    }

    .item-1 {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }

  // More than 2 - even
  &.grid-cols-2:not(.grid-odd) {
    .item-0 {
      border-top-left-radius: 0.75rem;
    }

    .item-1 {
      border-top-right-radius: 0.75rem;
    }

    // bottom row
    & > .media-list-item:last-child {
      border-bottom-right-radius: 0.75rem;
    }

    & > .media-list-item:nth-last-child(2) {
      border-bottom-left-radius: 0.75rem;
    }
  }

  // More than 2 - odd
  &.grid-cols-2.grid-odd {
    .item-0 {
      border-top-left-radius: 0.75rem;
    }

    .item-1 {
      border-top-right-radius: 0.75rem;
    }

    // Last full-width item
    & > .media-list-item.col-span-2 {
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }

  .media-list-item {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  // Odd count - make the last item span full and tall
  &.grid-odd {
    .media-list-item.col-span-2 {
      aspect-ratio: auto;
      height: auto;
      max-height: 100px
    }
  }

  .media-list-item {
    height: var(--item-h);

    &.col-span-2 {
      height: calc(var(--item-h) * 2);
    }
  }
}

.btn-primary-grad {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#7F39F8), color-stop(51%, #543DE7), to(#7F39F8));
  background: linear-gradient(to right, #7F39F8 0%, #543DE7 51%, #7F39F8 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 200% auto;
  border: 0;
  line-height: 1.62;
}

.album-image-container {
  .album-thumb {
    display: inline-block;
    //border: 1px solid #eaeaea;
    position: relative;
  }

  .thumb-container {
    position: relative;
    padding: 2px;
    cursor: pointer;
  }

  .thumb-container:hover .photo-count {
    background: rgba(43, 43, 43, 0.6);
  }

  .thumb-container:hover .thumb-image:nth-child(1),
  .thumb-container:hover .thumb-image:nth-child(2) {
    transform: rotateZ(0deg);
  }

  .photo-count {
    width: 30px;
    height: 30px;
    background: rgba(43, 43, 43, 0.4);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .photo-count .content {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin-top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  .photo-count .number {
    font-size: 10px;
  }

  .title {
    color: #4f4f4f;
    margin: 10px;
    text-align: center;
  }

  .images-container {
    width: 50px;
    height: 50px;
    position: relative;
  }

  .thumb-image {
    max-width: 50px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffffff;
    border-radius: .5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
  }

  .thumb-image:nth-child(1) {
    transform: rotateZ(10deg);
  }

  .thumb-image:nth-child(2) {
    transform: rotateZ(4deg);
  }

}
